.lancher-div{
    padding: 16px;
    background-color: #faf8f8;
    gap: 20px;
    width: auto;
    border-radius: 4px;
}
.app-launcher-menu {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    width: auto;
    background-color: #faf8f8;
  }
  .app-launcher-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  
  .app-icon-size {
    font-size: 28px;
    color: white;
  }
  
  .app-name-blue {
    text-align: center;
    font-size: 14px;
    color: #000;
  }