.config-heading {
  font-size: 20px;
  font-weight: 500;
  margin-left: 45px !important;

}

.hover-col {
  height: 100%;
  /* Ensure the Col takes the full height */
}

.center-content {
  /* Full height of the parent Col */
}


.lookups-title {
  align-items: center;
  text-align: center;
}

.icons {
  display: flex;
  /* Enable flexbox */
  justify-content: center;
  /* Center the icon horizontally */
  align-items: center;
  /* Center the icon vertically */
  margin: 0 auto;
}

.icon-container {
  display: flex;
  justify-content: center;

}

/* drawer */
.drawer-main-cntainer{
  
}

.drawer-inpts-container {
  display: flex;
  justify-content: center;
  height: 46px;
  align-items: center;
}
.drawer-lbl-container {
  display: flex;
  justify-content: flex-end;
  /* background-color: aqua; */
  width: 19%;
}
.drawer-lbl-container p {
  font: 14px;
  font-weight: 600;
  color: var(--labelColor);
  margin-bottom: 0px !important;
}
.inpt-con {
  width: 60%;
  /* background-color: yellowgreen; */
  display: flex;
}
.inpt-sub-con{
  width: 100%;
}
.inpt {
  width: 100% !important;
}
.configuration-main
.ant-drawer-header {
  background-color: #4caf50; /* Your desired color */
  color: #fff; /* Optional: Change text color */
}
.drawer-main-cntainer{
  display: flex;
  flex-direction: column;

}
