.details-con-header {
    background-color: var(--secoundry-bg-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.details-con-header h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #C97A2F;
    margin: 8px 0;
}

.detail-sub-con {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    background-color: #F5F5F5;
    padding: 15px;
    height: 1253px;
}

.lbl-inpt {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
    align-items: baseline;
}

.lbl {
    width: 160px;
    margin-right: 10px;
    font-size: 14px;
    text-align: right;
    flex-shrink: 0;
}

.input {
    flex-grow: 1;
}

.sub-com {
    text-align: right;
    font-size: 16px;
    font-weight: 600px;
}

.subs-chkbx {
    margin-bottom: 10px;
    font-size: 14px !important;
    font-weight: 400;
    color: #393b3d;
}

.lbl-con {
    width: 20%;
}

.ag-65 {
    display: flex;
    align-items: baseline;
    height: 32.5px;
    width: 65px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.ag-65-title {
    color: var(--secoundry-color);
    margin: 0px 5px !important;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
}

input {
    height: 32px !important;
}

.ant-picker {
    height: 32px !important;
}

.checkbox-con {
    display: flex;
    width: 100%;
    align-items: center;
}

.checkbox-sub {
    background-color: white;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.suffix-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 31.5px;
    border: 0.5px solid #f0efef;
    padding-left: 5px;
    padding-right: 5px;
}

.ant-input-affix-wrapper {
    padding: 0px;
}

.input-container-with-sup {
    width: 100%;
    display: flex;
}

.detail-btn {
    height: 32px;
}

.date-picker-custom {
    border-radius: 3px !important;
}


/* drawer */
.details-drawer {
    height: 35px;
    background-color: var(--secoundry-bg-color);
    color: var(--secoundry-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details-drawer p {
    margin: 0px !important;
    color: var(--secoundry-color);
    size: 14px;
    font-weight: 600;
}

.inpt {
    margin-right: px;
}

.drawer-lbl {}

.inpt-container {
    display: flex;
    justify-content: center;
}

.drawer-lbl p {
    font: 14px;
    font-weight: 600;
    color: var(--labelColor);
}

.input-cont {
    display: flex;
    align-items: baseline;
    width: 65%;
}

.title-cont {
    width: 27%;
    display: flex;
    text-align: right;
    /* flex-shrink: 0px; */
    /* flex: 1; */
    justify-content: flex-end;
}

.title-cont, .checkbox-con p {
    font-size: 14px;
    font-weight: 600;
    color: var(--labelColor);
    text-align: right;
    font-weight: 600;
}

.error-text {
    color: red;
    margin: 2px 0px !important;
    font-weight: 600;
}

.input-sub-con {
    width: 100% !important;
}

.custom-dropdown-button {
    width: 100%;
    /* Ensure full width */
    border-radius: 3px;
    /* Set border radius */
    padding: 0;
    /* Remove default padding */
    height: 40px;
    /* Set desired height */
    display: flex;
    /* Use flex to center text */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.custom-dropdown-button button {
    width: 100%;
    border-radius: 3px;
}
.date-picker{
    width: 100%;
    border-radius: 3px!important;
}