.my-input-wrapper {
  margin-bottom: 0.97rem;
}
:where(.css-dev-only-do-not-override-tjsggz).ant-checkbox-disabled + span {
    color: #212529 !important;
}
:where(.css-dev-only-do-not-override-tjsggz).ant-radio-wrapper-disabled {
    color: #212529 !important;
}

.placeholder-error {
  color: red !important;
}
/* Red placeholder when validation error exists */
.my-input-field-select.error option[value=""] {
  color: red;
}
.my-input-field-select.error {
  border: 1px solid red;
  box-shadow: 0 0 4px rgba(229, 57, 53, 0.5);
}
.error-text1{
  color: red !important;
}
.radio-error {
  border: 1px solid red;
  padding: 4px 8px;
  border-radius: 4px;
  color: red !important;
}

.has-error .ant-radio-group {
  border-color: red !important;
}
.my-input-label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 1px;
  color: #212529;
}
.my-input-field,
.my-input-field-select input {
  height: 40px; /* <-- Unified height */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  box-sizing: border-box;
}
.my-input-label .error {
  color: red !important;
  font-size: 14px;
}

.required-star {
  color: red;
  margin-left: 2px;
}

.error-message {
  font-weight: normal;
  font-size: 14px;
  color: red;
  margin-left: 4px;
}

.my-input-container {
  position: relative;
}

.my-input-container.error .my-input-field {
  border-color: #dc3545;
}

.my-input-container.focused .my-input-field {
  border-color: #0d6efd;
}

/* .my-input-field {
  width: 100%;
  padding: 10px 36px 10px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ced4da;
  outline: none;
  color: #212529;
  background-color: #fff;
  transition: border-color 0.2s ease;
} */
 .my-input-container.disabled {
  background-color: #f5f5f5;  /* light gray */
  color: #a0a0a0;
  border-color: #d9d9d9;
  cursor: not-allowed;
}

/* Optional: target input field inside the DatePicker too */
.my-input-container.disabled input {
  background-color: #f5f5f5;
  color: #a0a0a0;
  cursor: not-allowed;
}

yse
 .my-input-field-select.disabled-select {
  background-color: #f5f5f5; /* light gray like input[disabled] */
  color: #a0a0a0;
  cursor: not-allowed;
  border-color: #d9d9d9;
}

.my-input-field {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

textarea.my-input-field {
  min-height: 100px; /* Makes it display as 4 rows approx */
  resize: vertical;  /* Allows manual resizing by user */
  line-height: 1.4;
}
.my-input-field::placeholder {
  color: #6c757d;
}

.error-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #dc3545;
  font-size: 16px;
  pointer-events: none;
}
